h1 {
  padding-bottom:8px;
  display: inline-block;
}

body {
  background-color: azure;
}

#date {
  margin-left: 18px;
}

code, kbd, pre, samp {
  font-family: "Roboto Mono", monospace;
  font-style: normal;
  font-weight: 400;
}

.codeview pre {
  font-size: 18px;
}

.invalidline-numbers {
  width:0em;
}

td {
  vertical-align: top;
}

.line-number pre {
  color: #909090;
  background-color: #f5f5ff;
  text-align: right;
}
.line-code pre, .line-code textarea{
  color: #111111;
  background-color: #fcfcff;
}

#text-input {
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  resize: none;
  white-space: pre;
  overflow: auto;
}

#filename-input {
  border: none;
  max-width: 256px;
  white-space: pre;
  overflow: auto;
  background-color: #fcfcff;
  padding:6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-highlight {
//  box-shadow: inset 0px 0px 2px 1px #FF00FC66;
}

button {
  margin-bottom: 5px !important;
}

.logo {
  width: 200px;
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.btn {
  display: none;
}
